$primary: #09AEDE;
$yellow: #FFB308;
$darkgray: #4C4D5F;
$bluegray: #9798B1;
$lightgray: #F0F0F5;
$cream: #F7F2F2;

$baseFontSize: 1vw;
$baseFont: 'Roboto', sans-serif;

$gutter: 4vw;
$spacer: 25px;
$gap: 20px;
